       
/*safe.html的css样式开始*/     
*{
  margin:0px;
  padding:0px;
}
       .clearfix:after{
            content: "";
            display:table;
            clear:both;
        }
        .fl{
            float:left;
        }
        .fr{
            float:right;
        }
        .safe-block{
            background:white;
            height:70%;
            line-height:2rem;
            margin-top:0px;
        }
        .safe-block a{
            width:100%;
            display:block;
            border-bottom:1px solid #cccccc;
		    line-height:2.5rem;
		    height:2.5rem;
            padding-left:5%;
            margin:0px auto;
            box-sizing:border-box;
        }
        .safe-block .mima,.safe-block .email,.safe-block .phone{
            color:#555555;
            display��block;
            font-size:14px;
            background:url("../image/password.png") no-repeat left center;
            padding:2rem;
            padding-left:2rem;
       }
       .safe-block .email{
             background:url("../image/email.png") no-repeat left center;
       }
       .safe-block .phone{
              background:url("../image/phone.png") no-repeat left center;
       }
       .safe-block a span:nth-of-type(2),.safe-block .email a span:nth-of-type(2),.safe-block .phone a span:nth-of-type(2){
              font-size:12px;
              color:#b2b2b2;
	          display:inline-block;
              padding-right:1.2rem;
	          background:url("../image/jiantou.png") no-repeat right center;	
	          margin-right:.5rem;
       }
       .safe-block a img{
             vertical-align: middle;
       }
       .safe-block .img1 img{
             width:100%;
       }
       .safe-block .img1{
            margin-bottom: -.8rem;
       }
/*safe.html的css样式结束*/

/*safe-psw.html的css样式开始*/
.safe-psw-block{
    background:white;
    height:100%;
    line-height:2rem;
    margin-top:0px;
   text-align:center;
}
.safe-psw-block input{
    width:96%;
    border:none;
    border-bottom:1px solid #f2f2f2;
    height:2.5rem;
    line-height:2.5rem;
    /* padding-left:1rem; */
    margin:.2rem;
}
.safe-psw-block input[type="password"]{
    width:80%;
}
.safe-psw-block input[type="button"]{
    margin-top:1rem;
    color:white;
    font-size:.8rem;
    background:#ff5777;
    border-radius:.4rem;
    width:80%;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc; 
  opacity:1; 
  font-size:.6rem;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity:1;
  font-size:.6rem;
}

.safe-psw-block input:-ms-input-placeholder{
  color: #ccc;
  opacity:1;
  font-size:.6rem;
}

.safe-psw-block input::-webkit-input-placeholder{
     color: #ccc;
     opacity:1;
     font-size:.6rem;
}
/*safe-psw.html的css样式结束*/

/*carts.html的css样式开始*/
ul,ul li{
  margin:0px;
  padding:0px;
}
header .open-panel1{
    /* color:#ff5777; */
   margin-top:4%;

}
.bar2 a{
  /* border:1px solid #ff5777; */
  line-height: 2.2rem;
}
.carts-content{
    background:white;
    margin-top:.2rem;
  width:100%;
}
.carts-content div,.carts-content span,.carts-content a{
    font-size:.6rem;
    color:#555;
}
.carts-content .dianming{
background: url(../image/dianming.png) no-repeat 2% center;
padding-left:1.8rem;
height:2rem;
width:100%;
line-height: 2rem;
border-bottom:1px solid #f2f2f2;
}
.carts-content .shangpin{
padding-top:4%;
border-top:1px solid #f2f2f2;
width:96%;
margin:0px auto;
/* padding:0px; */
}
.carts-content .shangpin li:nth-of-type(1){
  margin-top:13%;
  margin-right:1%;
}
.carts-content .shangpin li{
  list-style: none;
}
.carts-content .shangpin img{
  width:35%;
  /* margin-left:-2%; */
  vertical-align: middle;
  /* border:1px solid #ff5777; */
}
.carts-content .shangpin .jianjie{
  width:56%; 
  /* margin-right:-1%; */
  /* border:1px solid #ff5777; */
  margin-top:-.5rem;;
 padding-top:1rem;
 padding-bottom:1rem;
}
.carts-content .shangpin .jianjie>span:nth-of-type(1){
  color:#ccc;
}
.carts-content .shangpin input{
  border:none;
  width:10%;
  text-align:center;
  line-height:1.2rem;
  height:1.2rem;
}
.carts-content .jianjie p span:first-child{
  color:#ff5777;
  font-size:1rem;
  margin-right:1%;
  line-height:1rem;
  height:1rem;
  
}
.carts-content .jianjie p span:nth-of-type(2){
  background:url(../image/jian.png) no-repeat center center;
  margin-left:28%;
}
.carts-content .jianjie p span:nth-of-type(3){
  background:url(../image/jia.png) no-repeat center center;
  margin-left:3%;
}
.carts-content .jianjie p span:nth-of-type(2),.carts-content .jianjie p span:nth-of-type(3){
  display:inline-block;
  width:1rem;
  line-height:1rem;
  height:1rem;
  border-radius:50%;
  border:1px solid #cccccc;
  text-align:center;
  margin-right:3%;
  display: inline-table;
}
.carts-content .icon1{
  color:white;
  background:#ff5777;
  border-radius:50%;
  width:1rem;;
  height:1rem;
  text-align:center;
  /* margin-left:-11%; */
  /* margin-top:10%; */
}

.cartfoots .foot{
  position:fixed;
  bottom:8%;
  z-index:5;
  background:white;
  width:100%;
  border-top:1px solid #f2f2f2;
  padding-top:2%;
  padding-bottom:2%;
}
.cartfoots .foot>span:nth-of-type(1){
  margin-left:2%;
}

.cartfoots .foot div {
  margin-left:2%;
  text-align: center;
  background:#ff5777;
  height:1rem;
  width:1rem;
  border-radius:50%;
  line-height:1rem;
  margin-top:1%;
}
.cartfoots .foot div span:nth-of-type(1){
  color:white;
  vertical-align: top;
}
.cartfoots .foot span:nth-of-type(2),.cartfoots .foot span:nth-of-type(3){
  color:#ff5777;
  line-height:1.5rem;
  height:1.5rem;
  margin-right:.4rem;
}
.cartfoots .foot a input{
  border-radius:.3rem;;
  width:3rem;
  height:1.5rem;
  background:#ff5777;
  color:white;
  border:none;
  margin-right:2%;
}
/*carts.html的css样式结束*/

/*order-detail.html的css样式开始*/
.page1,.page-group1{
    background:#efefef;
  }
 .orderdetails .top{
   background:white;
 }
 .orderdetails .top div,p,span,a{
   font-size:.6rem;
   color:#555;
 }
 .orderdetails .top p{
   margin-left:10%;
 }
 .orderdetails .top a{
   display:inline-block;
   width:100%;
   padding-left:10%;
   background:url(../image/wuliu.png) no-repeat 3% center,url(../image/jiantou.png) no-repeat 95% center;
   height:2.5rem;
   line-height:2.5rem;
   border-top:1px solid #f2f2f2;
   border-bottom:1px solid #f2f2f2;
   color:#ff5777;
 }
 .orderdetails .top div:first-child{
   background:#ff5777;
   color:white;
   height:2rem;
   line-height:2rem;
   font-size:.8rem;
   padding-left:5%;
 }
.orderdetails .address{
  width:84%;
  padding-left:10%;
  background:url(../image/address.png) no-repeat 3% center;
  height:2rem;
  line-height:2rem;
 }
 .orderdetails .top2{
     margin-top:2%;
     border:1px solid green;
 }
 .orderdetails .dianming{
    background:white;
    margin-top:1%;
    width:100%;
}
.orderdetails .dianming .head{
   background: url(../image/dianming.png) no-repeat 2% center;
   padding-left:10%;
   border-bottom: 1px solid #f2f2f2;
   position: relative;
   font-size: .6rem;
   color: #555;;
   height:2rem;
   line-height:2rem;
}
.orderdetails .dianming .head span{
   position:absolute;
   left:81%;
   color:#ff5777;
}
.orderdetails .dianming div:nth-of-type(2) p:nth-of-type(2){
  border:1px solid #ccc;
  border-radius: .2rem;
  height:1.2rem;
  line-height:1.2rem;
  width:3rem;
  color:#888;
  font-size:.5rem;
  text-align: center;
  text-decoration: none;
  margin-right:6%;
  padding-left:5%;
}
.orderdetails .xiangqing{
width:94%;
padding-left:3%;
}
.orderdetails .xiangqing img{
width:30%;
margin-top: 3%;
}
.orderdetails .xiangqing .miaoshu{
  margin-left: 2%;
  }
.orderdetails .xiangqing div:last-child span{
padding-left:25%;
color:#555555;
}
.orderdetails .xiangqing div:last-child p{
text-decoration:line-through;
color:#ccc;
text-align:center;
padding-left:25%;
}
.orderdetails .xiangqing a{
line-height:2rem;
height:2rem;

}
.orderdetails .total{
width:100%;
position: relative;
border-top:1px solid #f2f2f2;
}
.orderdetails .total div{
height:2rem;
line-height:2rem;
border-bottom:1px solid #f2f2f2;
}
.orderdetails .total div:first-child span:last-child{
position:absolute;
right:8%;
color:#ff5777;
}
.orderdetails .total div:first-child span:first-child,.orderdetails .total div:last-child span:first-child{
position:absolute;

left:4%;
}
.orderdetails .date{
background:#fff;
padding-left:5%;
margin-top:-3%;
height:40%;
padding-top:3%;
padding-bottom:3%;
}
.orderdetails .date p,.date p span{
line-height:.6rem;
height:.6rem;
color:#999;
}
.order_detail_alert input{
  /* border:1px solid #ff5777; */
  /* border:none; */
  border-top:1px solid #f2f2f2f2;
  width:50%;
}
.order_detail_alert input:nth-of-type(1){
  border-radius:0 0 0 .8rem;
  border-right:1px solid #f2f2f2f2;
  color:#999;
}
.order_detail_alert input:nth-of-type(2){
  border-radius:0 0 .8rem 0;
  color:#ff5777;
}



/* 弹框开始 */
.black_cover{
  display: none; 
  position: fixed;
  top: 2.2rem;
  width: 100%;
  height: 93%;
  background: rgba(0,0,0,0.2);    
}


.alert{
  display: none; 
  font-size: .8rem;   
  color:#333;
  position: absolute;
  left:15%;
  top:35%;
  width: 70%;
  background: rgb(255, 255, 255);
  border-radius: .8rem;
  margin:0px auto;
}
.alert h3{
  font-size: .8rem;
  text-align: center;
  padding: 0 5%;
  padding-top: 5%;
}
.alert p{
  font-size: .7rem;
  text-align: center;
  padding: 0 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid #e2e2e2;
  margin: 0px auto;
}
.alert input{
  color:blue;
  background: rgb(255, 255, 255);
  border:none;    
  height:2.2rem;
  line-height: 2.2rem;
  text-align: center;
}
/* 弹框结束 */
/*order-detail.html的css样式结束*/


/*accounting-center.html的css样式开始*/
.accounting-center div,.accounting-center span,.accounting-center a{
    font-size:.6rem;
    color:#555;
}
.accounting-center div{
    line-height:1.8rem;
}
.accounting-center .active{
    color:rgb(28, 77, 212);
}
.accounting-center .conten1{
 background:white;
 margin-top:0px;
 width:100%;
 margin-bottom:2%;
}
.accounting-center .img1{
    width:100%;
}
.accounting-center .top{
  width:96%; 
  margin:0px auto;
}
.accounting-center .shangpin{
  background:white;
  padding-left:1%;
  margin-bottom: 5rem;
}
.accounting-center .shangpin .dianjia{
  width:96%;
  margin:0px auto;
}
.accounting-center .shangpin .dianjia .dianming{
  background:url(../image/dianming.png) no-repeat left center;
    padding-left:8%;
    height:1.5rem;
    line-height:1.5rem;
    width:30%;
}
.accounting-center .shangpin .dianjia .xiangqing img{
  width:25%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.accounting-center .shangpin .dianjia .xiangqing .xinxi{
  line-height:1rem;
  margin-top:3%;
  width:75%;
  padding-left:3%;
}
.accounting-center .shangpin .dianjia .xiangqing .xinxi div:nth-of-type(1) span:nth-of-type(1){
color:#ff5777;
font-size:1rem;
}
.accounting-center .shangpin .dianjia>div:nth-of-type(n+2){
  border-top:1px solid #f2f2f2;
  width: 100%;
}
.accounting-center .foot{
  position:fixed;
  bottom:0px;;
  z-index:5;
  background:white;
  width:110%;
  margin-left:-5%;
  border-top:1px solid #f2f2f2;
  padding-top:2%;
  padding-bottom:2%;
  padding-left:5%;
}
.accounting-center .foot1{
  width:96%;
  margin:0px auto;
  line-height:1.5rem;
  height:1.5rem;
}
.accounting-center .foot span:nth-of-type(2){
  margin-left:2%;
  color:#ff5777;
}
.accounting-center .foot input{
  border-radius:.3rem;
  line-height:1.5rem;
  background:#ff5777;
  color:white;
  border:none;
  margin-right:5%;
  text-align:center;
  padding-left:5%;
  padding-right:5%;
}
/*accounting-center.html的css样式结束*/

/*my-order.html的css样式开始*/
.del-detail-result_alert{
  display: none; 
  font-size: .8rem;   
  position: absolute;
  left:27%;
  top:35%;
  width: 43%;
  background: rgba(0,0,0,.5);
  border-radius: .2rem;
  margin:0px auto;
}
.del-detail-result_alert p{
  font-size: .7rem;
  text-align: center;
  color:#fff;
}
.my-order-page-group,.my-order-page{
    background:#efefef;
  }
  .my-order .content-block1{
  width:100%;
  height:90%;
 }
 .my-order .buttons-tab .button{
   font-size:.6rem;
 }
 .my-order .buttons-tab{
   position:fixed;
   top:2rem;
   width:100%;
   background:white;
   z-index:2;
 }
 .my-order .content-block1>.shangpin{
  background:#ffffff;
  margin-top:1%;
  height:50%;
     padding-bottom: 2%;
     padding-top: 2%;
  padding-left:.5rem;
  padding-right:5rem;
  font-size:.6rem;
}
.my-order .content-block1>.shangpin1{
  margin-top:11%;
  padding-bottom: 2%;
 }
 .my-order .content-block1>.shangpin .dianming{
  position:relative;
}
.my-order .content-block1>.shangpin .dianming span{
  position:absolute;
  right:.5rem;
  color:#ff5777;
}
.my-order .content-block1>.shangpin a{
  color:#555;
  font-size:.6rem;
  display:inline-block;
  height:1.7rem;
  line-height:1.7rem;
}

.my-order .content-block1>.shangpin .dianming,.xiangqing,.my-order .total,.my-order .btn{
  margin-right:-4.5rem;
 
}
.btn{
  height:1.7rem;
  line-height:1.7rem; 
  border-top: 1px solid #f2f2f2;
  padding-top:2%;
}
.my-order .content-block1>.shangpin .dianming{
  background: url(../image/dianming.png) no-repeat left center;
  padding-left:1.2rem;
  padding-left: 1.2rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-bottom: 1px solid #f2f2f2;
}
.my-order .xiangqing{
  border-bottom:1px solid #f2f2f2;
}
.my-order .xiangqing img{
  width:30%;
  padding-right:.4rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.my-order .xiangqing div span{
  font-size:.6rem;
}
.my-order .xiangqing div p{
  text-decoration: line-through;
  font-size:.6rem;
  color:#222;
}
.my-order .total span:last-child{
  height:1.8rem;
  line-height: 1.8rem;
}
.my-order .total span:last-child{
  font-size:.6rem;
}
.my-order .total span:first-child{
  color:#ff5777;
  font-size:.7rem;
  height:1.8rem;
  line-height:1.8rem;
}
.my-order .btn input[type="button"]{
  background:#ff5777;
  border:none;
  color:white;
  width:25%;
  font-size:.6rem;
  height:1.5rem;
  line-height:1.5rem;
  font-weight:400;
  border-radius:.1rem;
  border:none;
}
.my-order .btn input:last-child{
  border:1px solid #ccc;
  color:#555;
  background:white;
  margin-right:1rem;
}
.my-order .wudingdan{
  text-align:center;
  padding-top:10%;
}
.my-order .wudingdan .img{   
 padding-bottom:10%;
}
.my-order .img img{
  width:80%;
}
.my-order .wudingdan p{
  line-height:40%;
  height:40%;  
}
.my-order .wudingdan p:first-child{
  font-size:.6rem;
  color:#555;
}
.my-order .wudingdan p:last-child{
  font-size:.5rem;
  color:#ccc;
  padding-bottom:40%;
}
.my-order .pos{
  position:fixed;
  z-index:5;
}
.my-order .f{
  height:90%;
}
.my-order .shangping2{
  margin-top:1%;
}
/*my-order.html的css样式结束*/

/*psw-result.html的css样式开始*/
.psw-result .block{
    background: white;
    text-align: center;
    padding-top:20%;
    padding-bottom:20%;
    height:100%;
}
.psw-result .block img{
    width:20%;
    padding-bottom:8%;
}
.psw-result .block a{
   
    text-decoration: none;
    font-size:1rem;
    color:#ff5777;
}
.psw-result .bar .icon1{
    font-size:.8rem;
}
/*psw-result.html的css样式结束*/
/*jiarugouwuche.html的css样式开始*/
*{
  margin:0px;
  padding:0px;
}
.cover{
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  display: none;
  background:black;
  /* opacity:0; */
  z-index:1;
}
.choose{
  background:white;
  position:fixed;
  bottom:0px;
  width:100%;
  z-index:2;
  /* display: block; */
}
.choose .choose2{
width:96%;
margin:0 auto;
padding-top:1%;
}
.different{
  height:65%;
  position:fixed;
  bottom:-70%;
}
.cover_top img{
  width:25%;
  /* border:1px solid #ff5777; */
}
.cover_top>span{
  display:block;
  background:url(../image/quxiao.png) no-repeat center center;
  background-size:50%;
  width:10%;
  height:10%;
  /* border:1px solid #f2f2f2; */
}
.cover_top .description{
  margin-left:2%;
  line-height:50%;
}
.cover_top .description p:nth-of-type(1){
  font-size:.6rem;
  font-weight:700;
}
.choose .choose2 ul h3,.buy_num h3{
  font-size:.5rem;
  font-weight:400;
  color:#999;
  height:2%;
  margin-bottom:5%;
}
.choose .choose2 ul{
  border-top:1px solid #f2f2f2;
  margin:2% 0;
  padding:2% 0;
}
.choose .choose2 ul li{
  font-size:.5rem;
  display:inline-block;
  border:1px solid #ccc;
  height:1.2rem;
  line-height:1.2rem;
  width:20%;
  text-align:center;
}
.buy_num div input{
  width:12%;
  border:1px solid #f2f2f2;
  background:white;
}
.buy_num div input:nth-of-type(1),.buy_num div input:nth-of-type(3){
 background:#fafafa;
}
.buy_num div input:nth-of-type(2){
text-align:center;
border:1px solid #ccc;
}
.choose>input{
  width:100%;
  position:absolute;
  bottom:0px;
  background:#ff5777;
  color:white;
  margin-top:20%;
  height:2.2rem;
  line-height:2.2rem;
  border:none;
  font-size:.8rem;
}
.buy_num{
  border-top:1px solid #f2f2f2;
  padding-top:2%;
}
/*jiarugouwuche.html的css样式结束*/